body {
    margin: 0;
    padding: 0;
    font-family: "roboto", monospace;
    background-color: #f4f4f4;
}
.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(64, 248, 159);
}

.navlogo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.navlogo-container > a > img {
    height: 60px;
    width: 100px;
    object-fit: contain;
}

.navlinks-container {
    display: flex;
    padding-right: 10%;
}

.navlinks-container > a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    color: rgb(33, 37, 41);
    line-height: 2.8rem;
    transition: color 0.3s ease-in-out;
}

.navlinks-container > a:hover {
    color: white;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 20px;
    background-color: rgb(64, 248, 159);
}

.intro-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 10% 0;
    background-color: white;
}

.exp-content-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
}
.experience-text-container {
    width: 100%;
}

.list-container {
    border-left: 5px solid rgb(64, 248, 159);
}

.exp-list-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-container ul li input {
    background: none;
    padding: 3em;
    width: 14em;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 5px solid transparent;
}

.list-container ul li input:focus {
    background: none;
    border-bottom: 5px solid rgb(64, 248, 159);
}
.list-container ul li input:hover {
    background: none;
    border-bottom: 5px solid rgb(64, 248, 159);
}

.exp-desc-container {
    display: none;
    /* display: flex; */
    width: 100%;
    height: 598px;
    align-items: flex-start;
    flex-direction: column;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 598px;
}

.skills-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

.skills-container ul li {
    padding: 1em;
}

.skills-container ul li span{
    color: rgb(255, 95, 31);
    font-size: medium;
    font-weight: bolder;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 210px;
}
.primary-btn {
    height: 100%;
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-black {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
